.container-home {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-button {
    display: flex;
    width: 40vh;
    padding: 20px;
    flex-direction: row;
    justify-content: space-around;
}

.info-user {
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: center;
}

.user {
    padding-right: 10px;
}

.button {
    height: 3vh;
    width: 14vh;
}

